@import 'theme';
@import 'generic';
@import 'cards';

.slide-container {
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

section {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

section:nth-child(odd) {
  background-image: radial-gradient(@secondary-lighter 10%, @secondary 10%);
  background-size: 8px 8px;
}

section:nth-child(even) {
  background-image: radial-gradient(@secondary 10%, @secondary-lighter 10%);
  background-size: 8px 8px;
}

.main {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 85%;
  @media screen and (min-width: 768px) {
    height: 100%;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-link {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}
