@import 'theme';
@import 'animations';
@import 'generic';

.slide-container {
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

section {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

section:nth-child(odd) {
  background-color: @secondary;

  .card > .card-title {
    background-color: @secondary-lighter;
  }
}

section:nth-child(even) {
  background-color: @secondary-lighter;

  .card > .card-title {
    background-color: @secondary;
  }
}

.main {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.social-link {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  width: 18rem;
  border: none;

  .card-icon {
    color: @primary;
  }

  .card-text {
    .details-title {
      color: @primary;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0px;
    }
  }
}
