#shapes-front {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 20s infinite linear;
}

#shapes-behind {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 40s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
