.card {
  width: 18rem;
  border: none;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5);

  .card-icon {
    color: @primary;
  }

  .card-text {
    .details-title {
      color: @primary;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0px;
    }

    a {
      color: @primary;
    }
  }
}

section:nth-child(odd) {
  .card > .card-title {
    .wavey-background;
  }
}

section:nth-child(even) {
  .card > .card-title {
    .wavey-background;
  }
}
