body, html, #root {
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
  overflow-y: hidden;
}

h1 {
  color: white;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-shadow: 6px 6px 0px @primary;
}

h4 {
  color: white;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 0px @primary;
}

button {
  background: transparent;
  border: none;
}
