@import 'theme';
@import 'animations';
@import 'generic';

body, html, #root {
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
  overflow-y: hidden;
}

.slide-container {
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

section {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

section:nth-child(1) {
  background-color: @secondary;
}

section:nth-child(2) {
  background-color: #5f5f5f;
}

.main {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.navbar {
  left:0;
  height: 100%;
  position: fixed;
  background-color: @primary;
  padding: 1%
}

.social-link {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}
