* {
  font-family: sans-serif;
}

h1 {
  color: #EFCB68;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  @media (min-width: 600px) {
    font-size: 5rem;
  }
}

.main {
  background-color: white;
  min-height: 30rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.background {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
}

#shapes-front {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 25s infinite linear;
}

#shapes-behind {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 40s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

.navbar {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  background-color: #EFCB68;
}

.navbar a {
  color: #160C28;
  padding: 10px 12px;
  text-decoration: none;
  &:hover {
    background: #F7E7BA;
    color: #40384F;
  }
}
