@import 'animations';
@primary: #EFCB68;

* {
  font-family: sans-serif;
}

h1 {
  color: @primary;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-shadow: 1px 1px 1px white;
  @media (min-width: 600px) {
    font-size: 5rem;
  }
}

.main {
  background-color: rgb(56, 56, 56);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.background {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
}

.navbar {
  left:0;
  height: 100%;
  position: fixed;
  background-color: @primary;
  width: 2%;
}

img {
  height:65%;
  @media (max-width: 900px) {
    max-width: 100%;
    height: auto;
  }
}
